<div class="container">
    <img src="../../../assets/church_icon.png" title="avatar site" alt="avatar site" class="avatar">
    <h1 class="title">Busque uma nova campanha de oração.</h1>
    <div>
        <label class="search-label">
            <span class="search-icon" id="basic-addon1">
                🔍
            </span>
            <input type="text" class="search-input" placeholder="pesquise uma intenção" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="searchIntention" (keyup)="search()">
        </label>
    </div>
    <label class="subtitle">ou clique <a href="/new-campaign">aqui</a> para criar uma nova</label>
    <div class="row row-campaigns">
        <div *ngFor="let item of prayFilter" class="col">
            <a href="/third-campaign?intention={{item}}" class="card a-card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Cartela de oração:</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item}}</h6>
                </div>
                <!-- <a href="/third-campaign?intention={{item}}" class="card-link">Ir para cartela</a> -->
            </a>
        </div>
    </div>
</div>