.title {
    margin: 2rem 1rem;
    line-height: 1.3;
    font-size: 2rem;
    text-align: center;
    max-width: 550px;
    letter-spacing: -0.02em;
}

.subtitle {
    line-height: 23px;
    color: #4e4e4e;
    margin-bottom: 12px;
}

.container {
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    text-align: center;
}

.search-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    margin: 0px auto;
    -webkit-transition: border-color 100ms ease-in 0s;
    transition: border-color 100ms ease-in 0s;
    margin-bottom: 5%;
}


.search-input {
    outline: none;
    border: none;
    font-size: inherit;
    height: 2.81rem;
    color: #000;
    line-height: 40px;
    padding: 0;
    width: 80%;
}

.search-icon {
    padding-right: 5px;
    padding-left: 5px;
}

.avatar {
    border-radius: 50%;
    margin-top: 2rem;
}

.col {
    margin-top: 13px;
}

.row-campaigns {
    cursor: pointer;
}


.a-card {
    text-decoration: none;
}

.hover-zoom:hover {
    transform: scale(1.3);
}