<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Contador de Terço</a>
    <button class="navbar-toggler hidden-sm-up" type="button" data-target="#navbarsDefault"
        aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="/campanha-terco">Campanha do terço</a>
            </li>
        </ul>
        <div *ngIf="loggedIn" class="loggin">
            <div>
                <img [src]="user.photoUrl" class="photo-face">
            </div>
            <div>
                <label>Olá {{user.firstName}}</label>
            </div>
        </div>
        <div (click)="signOut()" *ngIf="loggedIn">
            <i class="fa fa-sign-out fa-sign-out-site"></i>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                 <app-auth-facebook *ngIf="!loggedIn"></app-auth-facebook> 
    </li>
    </ul>
    </div> -->
</nav>