<div class="container">
    <a href="/">
        <img src="../../../assets/church_icon.png" title="avatar site" alt="avatar site" class="avatar">
    </a>
    <h1 class="title">Crie uma nova campanha de rozário</h1>
    <label class="subtitle">caso ela exista abrira a sua cartela.</label>
    <label class="subtitle">Digite a intenção da campanha de rozário:</label>
    <form [formGroup]="intentionForm" (ngSubmit)="onSubmit()">
        <div>
            <label class="email-label">
                <span class="email-icon" id="basic-addon1">
                    🙌
                </span>
                <input type="text" class="email-input" placeholder="reforma da igreja" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="intention">
            </label>
        </div>
        <div>
            <button class="btn btn-primary btn-lg btn-block " type="submit">
                Adicionar ➕
            </button>
        </div>
    </form>
</div>