<div class="terco-container">
    <div class="container">
        <div>
            <h3>Intenções do terço:</h3>
            <p>{{intencao}}</p>
            <div class="row">
                <div class="col">
                    <h4>Terços rezados:</h4>
                    {{totalStatusTrueCount}}
                </div>
                <div class="col">
                    <h4>Meus terços rezados</h4>
                    {{myStatusTrueDiasCount}}
                </div>
            </div>
        </div>
        <div class="">
            <div class="jumbotron">
                <div class="row row-site">
                    <div *ngFor="let item of dias" class="col-3">
                        <button *ngIf="!item.status" class="btn btn-warning btn-block btn-site"
                            (click)="changeStatus(item)">
                            {{item.numero}}
                        </button>
                        <button *ngIf="item.status" class="btn btn-success btn-block btn-site"
                            (click)="changeStatus(item)">
                            {{item.numero}}
                        </button>
                    </div>
                </div>
                <div *ngIf="validate">
                    <button type="button" class="btn btn-primary btn-circle btn-lg " (click)="novaCartela(1)">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>