<div class="fab" ontouchstart="">
    <button class="main">
        <i class="bi bi-share"></i>
    </button>
    <ul>
        <li>
            <label for="opcao1">whatsapp</label>
            <button id="opcao1" class="whatsapp-option" (click)="shareWhatsapp()">
                <i class="bi bi-whatsapp"></i>
            </button>
        </li>
        <!-- <li>
            <label for="opcao2">instagram</label>
            <button id="opcao2">
                <i class="bi bi-instagram"></i>
            </button>
        </li>
        <li>
            <label for="opcao3">facebook</label>
            <button id="opcao3">
                <i class="bi bi-facebook"></i>
            </button>
        </li> -->
    </ul>
</div>