.btn-site {
    margin-top: 10px;
}

.description-site {
    text-align: center;
}

.btn-image {
    // padding: 8px 8px 8px 32px;
    // position: 8px 8px;
    background-repeat: no-repeat;
    width: 82%;
}

.btn-moother-good {
    color: #fff;
    background-color: #6F9FB3;
    border-color: #6F9FB3;
}

.btn-prayer {
    color: #FFE085;
    background-color: #FFE085;
    border-color: #FFE085;
}

.btn-moother-good:hover {
    color: #fff;
    background-color: #6F9FB3;
    border-color: #6F9FB3;
    size: 13px;
}