<app-header></app-header>
<div class="terco-container">
    <div class="container">
        <div>
            <div class="description-site">
                <h3>Intenção do Rozário:</h3>
                <h2><strong>{{intention}}</strong></h2>
            </div>
            <div class="row">
                <div class="col  description-site">
                    <h4>Meus terços rezados:</h4>
                    <h5><strong>{{myStatusTrueDiasCount}}</strong></h5>
                </div>
                <div class="col description-site">
                    <h4>Terços rezados na campanha:</h4>
                    <h5><strong>{{totalStatusTrueCount}}</strong></h5>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="jumbotron">
                <div class="row row-site">
                    <div *ngFor="let item of days" class="col-4 col-md-2">
                        <button class="btn btn-block btn-site"
                            [ngClass]="{'btn-warning btn-prayer':!item.status,'btn-primary btn-moother-good':item.status}"
                            (click)="changeStatus(item)">
                            <img class="btn-image"
                                [src]="item.status?'assets/2998143_flower_love_nature_plant_rose_icon.png' :'assets/hand_prayer_prays_faith_icon.png'">
                        </button>
                    </div>
                </div>
                <div *ngIf="validate">
                    <button type="button" class="btn btn-secondary btn-site" (click)="newCard(1)">
                        Adicionar nova Cartela
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-floating-button></app-floating-button>