.btn-site {
    margin-top: 10px;
}

.description-site {
    text-align: center;
}

.btn-image {
    // padding: 8px 8px 8px 32px;
    // position: 8px 8px;
    background-repeat: no-repeat;
    width: 82%;
}

.btn-moother-good {
    color: #fff;
    background-color: #49adeb;
    border-color: #49adeb;
}

.btn-prayer {}

.btn-moother-good:hover {
    color: #fff;
    background-color: #74ccfa;
    border-color: #74ccfa;
    size: 13px;
}